@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

body {
    font-family: 'VT323', monospace, sans-serif;
    background-color: #e7efea;
    scroll-behavior: smooth;
}
.container {
    max-width: 800px;
    margin: 0 auto;
    margin-top: 30px;
    border: 8px solid black;
}
.container h1 {
    padding-left: 10px;
}

.project-container {
    padding: 10px;
    border: 5px solid white;
    color: white;
    background-color: black;
} 

.project-container div {
    padding: 10px;
    border: 2px solid white;
    margin-bottom: 10px;
}

.project-container h3 {
    font-size: 3vh;
}
.project-container a {
    font-size: 6vh;
    color: white;
}

